.pr-pl {
  padding: 0 10px 0 10px;
}

.search-input {
  width: 30em;
}
.left {
  margin-left: 1em;
}
.main-header {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}
.rel {
  position: relative;
  top: 5em;
}