<div class="container-fluid h-100vh bg-dark text-light d-flex flex-column">
<header class="d-flex flex-row justify-content-between mt-2 align-items-center chat-header">
  <a routerLink="/home">
    <i class="bi bi-arrow-left-short icon-35px"></i>
  </a>
  <p class="h2">Messages</p>
  <button type="button" (click)="call()" class="btn btn-transparent text-primary">
    <i class="bi bi-telephone icon"></i>
  </button>
</header>
<div class="d-flex flex-column overflow-auto chat-main">
  <div *ngFor="let item of chat.message" class="d-flex flex-column container-msg mt-2" [ngClass]="{
    'user-container': item.from === user.getId()
  }">
    <div *ngIf="item.image?.length" class="mr-2" [ngClass]="{
      'align-self-end': item.from === user.getId()
    }" >
      <div *ngFor="let img of item.image">
        <img [src]="img.url || img._imageAsDataUrl" alt="image" class="img">
      </div>
    </div>
    <div class="d-flex flex-column msg position-relative" [ngClass]="{
      'user': item.from === user.getId(), 
      'other': item.from !== user.getId()
    }">
      <span>{{item.message}}</span>
      <div *ngIf="item.from === user.getId()" class="position-absolute delete-pos">
        <i class="bi bi-trash-fill pointer bg-danger p-1 rounded-circle" (click)="removeMessage(item.id)"></i>
      </div>
    </div>
  </div>
</div>
<footer class="chat-footer d-flex flex-column w-100 pt-2">
  <div class="d-flex flex-row ml">
    <button type="button" class="btn btn-light" (click)="openCamera()">
      <i class="bi bi-camera"></i>
    </button>
    <button type="button" class="btn btn-danger ml-item">
      <i class="bi bi-youtube"></i>
    </button>
    <button type="button" class="ml-item rounded btn btn-success" (click)="toggleImg()">
      <i class="bi bi-card-image"></i>
    </button>
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="msg-form border border-secondary d-flex flex-row align-items-center ml-item">
      <input class="border-0 msg-input bg-transparent text-light" type="text" name="message" id="message" required placeholder="Send Message" formControlName="message">
      <button type="submit" [disabled]="messageForm.invalid" class="btn bg-primary circle border-white rounded-circle ml-item">
        <i class="bi bi-arrow-up text-white arrow-up"></i>
      </button>
    </form>
  </div>
  <div *ngIf="images?.length || openImg">
    <div class="d-flex flex-column w-100 justify-content-center upload-container align-items-center">
      <label for="upload" class="upload-label p-2 rounded d-flex flex-column align-items-center" appDropFile (filesChangeEmitter)="onFileChange($event)">
        <span>Drag and Drop file here</span>
        <span>or</span>
        <span class="btn rounded btn-primary">Browse for File</span>
        <input type="file" id="upload" class="upload" (change)="addImage($event)">
      </label>
    </div>
    <div class="w-100 d-flex">
      <div *ngFor="let image of images" class="d-flex flex-row">
        <div class="bg-dark position-relative">
          <img [src]="image._imageAsDataUrl || image.url" alt="selfie" class="selfie">
          <button type="button" (click)="removeImage(image)" class="position-absolute-btn rounded-circle">
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>

<app-camera *ngIf="cameraOpen" [cameraOpen]="cameraOpen" (closeCamera)="closeCamera($event)" (pictureTaken)="handleImage($event)"></app-camera>
