.card {
  width: 30rem;
  height: 15rem;
}
.edit-card {
  background-color: whitesmoke;
  width: 20rem;
  padding: 1rem;
}
.top-right {
  top: 0;
  right: 0;
}
.form-container {
  top: 3rem;
  right: 1rem;
}
.newtext {
  width: 100%;
}