<footer class="d-flex justify-content-evenly align-items-center nav-footer">
  <a class="text-decoration-none icon" routerLink="/posts">
    <i class="bi bi-postcard-heart-fill text-light"></i>
  </a>
  <a class="text-decoration-none icon" routerLink="/home">
    <i class="bi bi-chat text-light"></i>
  </a>
  <a class="text-decoration-none icon" routerLink="/profile">
    <i class="bi bi-person-circle text-light"></i>
  </a>
  <a class="text-decoration-none icon" routerLink="/notifications">
    <i class="bi bi-bell text-light"></i>
  </a>
</footer>
