<div class="bg-dark h-100vh container-fluid text-light">
  <div class="overflow-auto d-flex flex-column">
    <div class="body">
      <div class="header">
        <img src="https://img.freepik.com/premium-vector/space-background-with-abstract-shape-stars_189033-30.jpg?w=2000" alt="header-img" class="header-img">
      </div>
      <div class="main-content">
        <div class="d-flex flex-column align-items-center">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="profile-picture" class="profile-picture">
          <span>{{user.getUsername()}}</span>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>